.form_style {
  position: relative;
  outline: 0px;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(231, 235, 240);
  border-image: initial;
  width: 35%;
}

.border-style {
  border-radius: 10px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-color: rgb(9, 169, 223);
}
.m-10{
  margin-left: 200px;
}
.text-align{
  text-align: justify;
}

/* chatbot/ app.css */




.chat-message{
  background-color: #ffffff;
  margin: 1em 25em;
  padding: 1em;
  max-height: 450px;
  overflow-y: auto;
  border-radius: 10px;
  color: gray;
}

.message-right{
  background: #ffffff;
  border-radius: 10px;
  padding: 0.5em 1em !important;
  margin: 1em 0.1em;
}

.message-left{
  background:aliceblue;
  border-radius: 10px;
  padding: 0.5em 1em !important;
  margin: 1em 0.1em;
}

.message-text{
  font-size: 16px;
}

.message-icon{
  font-size: 25px;
  margin-top: 5px;
}

.form-control:focus {
box-shadow: none !important;
}

